<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserMapper">

    <resultMap id="baseResultMap" type="com.example.demo.bean.User">
        <id column="id" property="uId" jdbcType="INTEGER"></id>
        <result column="name" property="uName" jdbcType="VARCHAR"></result>
        <result column="age" property="uAge" jdbcType="VARCHAR"></result>
        <result column="state" property="state" jdbcType="BOOLEAN"></result>
    </resultMap>

    <sql id="baseColumnList">
        id,name,age
    </sql>
    <insert id="save" parameterType="com.example.demo.bean.User" useGeneratedKeys="true" keyProperty="uId">
        insert into user (name,age,state)
        values (#{uName,jdbcType=VARCHAR},
        #{uAge,jdbcType=INTEGER},
        #{state,jdbcType=BOOLEAN})
    </insert>
    <update id="updateById" parameterType="com.example.demo.bean.User">
        update user
        set name = #{uName,jdbcType=VARCHAR},
            age = #{uAge,jdbcType=INTEGER},
            state = #{state,jdbcType=BOOLEAN}
        where id = #{uId,jdbcType=INTEGER}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user
        where id = #{uId,jdbcType=INTEGER}
    </delete>
    <select id="findUserById" parameterType="java.util.Map" resultMap="baseResultMap">
        select
        <include refid="baseColumnList"></include>
        from user
        <where>
            <if test="id != null and id != '' ">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test=" state != null">
                and state = #{state,jdbcType=BOOLEAN}
            </if>
        </where>
    </select>
    <select id="queryUsers" resultMap="baseResultMap" parameterType="java.util.Map">
        <bind name="bindSearchText" value="'%'+searchText+'%'"/>
        select
        <include refid="baseColumnList"></include>
        from user
        <if test="searchText!=null and searchText != ''">
            where name like #{bindSearchText,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
